body {
  margin: 2em;
  color: #000000;
  background-color: #ffffff;
}

#hamnav,
#review .review-link,
#banner-main,
#footer {
  display: none;
}

#review .review-content {
  padding-top: 50px;
  padding-bottom: 0;
  color: #000000;
}
