@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?bzbxea");
  src: url("../fonts/icomoon.eot?bzbxea#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?bzbxea") format("truetype"),
    url("../fonts/icomoon.woff?bzbxea") format("woff"),
    url("../fonts/icomoon.svg?bzbxea#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera1:before {
  content: "\e900";
}
.icon-images:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-location:before {
  content: "\e947";
}
.icon-map2:before {
  content: "\e94c";
}
.icon-infinite:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-twitter:before {
  content: "\e907";
}
.icon-flickr:before {
  content: "\e908";
}
.icon-flickr1:before {
  content: "\e909";
}
.icon-flickr2:before {
  content: "\eaa6";
}
.icon-pinterest:before {
  content: "\e90a";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}

/* ---------------------------------General-------------------------------- */

$font__cursive: 25px/1.3 "Berkshire Swash", Verdana, cursive;
$font__regular: 300 20px/1.3 Lato, Verdana, sans-serif;
$body__background-color: #fff;
$font__cursive-color: #e9e5db;
$main__icon--style-color: #61605f;
$find-me__icon-color: #fff;
$map__icon-color: #3c3930;

.page {
  margin: 0;
  background-color: $body__background-color;
  min-width: 320px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

main {
  flex: 1 0 auto;
}

.font__cursive {
  font: $font__cursive;
  color: $font__cursive-color;
}

.font__regular {
  font: $font__regular;
}

/* -----------------------------Header------------------------ */

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 15px;
}

.header__icon a {
  text-decoration: none;
  font-size: 20px;
  color: $body__background-color;
  border: 2px solid $body__background-color;
  border-radius: 50%;
  margin-left: 15px;
  padding: 13px;
  transition: 0.3s ease-in-out;
}

.header__icon a:hover {
  color: $font__cursive-color;
  border-color: $font__cursive-color;
}

.header-banner-img {
  background: url("../img/hero-image.png") center/cover no-repeat;
}

.header__logo a {
  text-decoration: none;
  color: $font__cursive-color;
  font-size: 40px;
}

/* -----------------------------Banner------------------------ */

.banner .container {
  display: flex;
  justify-content: center;
}

.banner__content {
  max-width: 50%;
  padding: 100px 0 200px;
}

/* ----------------------------Journey------------------------- */

.journey .container {
  padding: 50px 15px;
  max-width: 100%;
  width: 40%;
  text-align: center;
}

.main__icon--style span {
  font-size: 60px;
  color: $main__icon--style-color;
}

.font__main-h2 h2 {
  font-weight: 400;
  text-transform: uppercase;
}

.font__main-p p {
  font-weight: 400;
  text-transform: uppercase;
}

/* ----------------------------Parallax------------------------- */

.parallax .container {
  padding: 100px 15px;
  max-width: 100%;
  width: 40%;
}

.parallax__blockquote blockquote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parallax-img {
  background: url("../img/parallax.png") center/cover no-repeat;
  background-attachment: fixed;
}

/* ----------------------------Portfolio------------------------- */

.portfolio .container {
  display: flex;
  flex-direction: column;
  padding: 50px 15px;
  align-items: center;
}

.portfolio__grid_img-1 {
  grid-area: img-1;
}

.portfolio__grid_img-2 {
  grid-area: img-2;
}

.portfolio__grid_img-3 {
  grid-area: img-3;
}

.portfolio__grid_img-4 {
  grid-area: img-4;
}

.portfolio__grid_img-5 {
  grid-area: img-large;
  background: url(../img/portfolio_large_item.png);
  padding: 10px;
  color: $find-me__icon-color;
  display: flex;
  flex-direction: column;

  & span {
    color: $find-me__icon-color;
    font-size: 25px;
    transition: 0.3s ease-in-out;
  }

  & a {
    text-decoration: none;
    margin-bottom: 15px;
  }

  & span:hover {
    color: $font__cursive-color;
  }

  & p {
    font-size: 15px;
    text-transform: uppercase;
  }
}

.portfolio__grid_img-6 {
  grid-area: img-6;
}

.portfolio__grid_img-7 {
  grid-area: img-7;
}

.portfolio__grid_img-8 {
  grid-area: img-8;
}

.portfolio__grid_img-9 {
  grid-area: img-9;
}

.portfolio__grid_previous {
  grid-area: previous;
}

.portfolio__grid_next {
  grid-area: next;
}

.portfolio__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "img-1 img-2 img-3 img-4" "img-large img-large img-large img-large" "img-6 img-7 img-8 img-9" "previous previous next next";
  grid-gap: 10px;
}

.portfolio__slide {
  & span {
    font-size: 30px;
    transition: 0.3s ease-in-out;
  }

  & a {
    text-decoration: none;
    color: $map__icon-color;
    transition: 0.3s ease-in-out;
  }

  & a:hover,
  & a:hover span {
    color: $font__cursive-color;
  }
}

.portfolio__grid_next {
  & span {
    margin-left: 10px;
  }

  & a {
    font: $font__regular;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
  }
}

.portfolio__grid_previous {
  & span {
    margin-right: 10px;
  }

  & a {
    font: $font__regular;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: 500;
  }
}

/* ----------------------------Find Me------------------------- */

.find-me .container {
  margin-bottom: 20px;
  max-width: 100%;
  width: 40%;
  text-align: center;
}

.find-me__icon {
  padding: 20px 0 80px;

  & i {
    font-size: 60px;
    color: $find-me__icon-color;
    border: 2px solid $main__icon--style-color;
    background-color: $main__icon--style-color;
    border-radius: 50%;
    margin-left: 15px;
    padding: 20px;
    transition: 0.3s ease-in-out;
  }

  & a {
    text-decoration: none;
  }

  & a:hover i {
    background-color: $body__background-color;
    color: $font__cursive-color;
  }
}

/* ----------------------------Map------------------------- */

.map .container {
  max-width: 100%;
  width: 100%;
  height: 300px;
  background: url("../img/map.png") center/cover no-repeat;
}

.map__icon--style {
  font-size: 60px;
  color: $map__icon-color;
}

.map {
  position: relative;
}

.icon-location {
  position: absolute;
  top: 71px;
  right: 906px;
}

/* --------------------------Footer----------------------- */

.form {
  padding: 50px 15px 10px;
  text-align: center;
  font: $font__regular;
}

.footer-img {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/camera.jpg") center/cover no-repeat;
}

.font__main-h2--color {
  color: $body__background-color;
}

.form__work {
  padding: 20px 0 20px;

  & input,
  textarea {
    background-color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    padding: 20px 20px;
    border-style: inset;
    border: 1px solid #000;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
  }

  & .form__work-text {
    width: 47%;
  }

  & .form__work-email {
    width: 47%;
  }

  & .form__work-textarea:focus,
  .form__work-email:focus,
  .form__work-text:focus {
    outline: none;
    border: 1px solid $font__cursive-color;
    box-shadow: 0 0 10px #719ece;
  }
}

.form__work-textarea {
  resize: unset;
  min-width: 94%;
  height: 200px;
  margin: 20px 0 0;
}

.hr__wrap {
  text-align: center;
  font-size: 15px;

  & hr {
    width: 50%;
  }
}

.form button {
  border: 1px solid $body__background-color;
  background-color: transparent;
  color: ($body__background-color);
  padding: 20px 0;
  width: 30%;
  text-transform: uppercase;
  margin: 0 10px 30px 0;
  font-size: 30px;
  transition: 0.3s ease-in-out;

  &:hover {
    border: 1px solid $font__cursive-color;
    box-shadow: 0 0 10px #719ece;
    color: $font__cursive-color;
  }
}

$background-color-submit: #61605f;
$background-color-reset: #000;
$color-submit: #000;;
$color-reset: #61605f;

@mixin form__button_submit {
  background-color: $background-color-submit;
  color: $color-submit;
}

@mixin form__button_reset {
    background-color: $background-color-reset;
    color: $color-reset;
  }

.form .form__button_submit {
  @include form__button_submit;
}

.form .form__button_reset {
  @include form__button_reset;
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .header .container {
    padding: 40px 55px;
  }

  .banner__content {
    max-width: 70%;
  }

  .journey .container {
    width: 80%;
  }

  .parallax .container {
    width: 60%;
  }

  .icon-location {
    right: 623px;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
  .icon-location {
    right: 813px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .find-me .container {
    width: 60%;
  }

  .icon-location {
    right: 500px;
  }

  .header .container {
    padding: 40px 55px;
  }

  .banner__content {
    max-width: 70%;
  }

  .journey .container {
    width: 80%;
  }

  .parallax .container {
    width: 60%;
  }
  .banner__content {
    max-width: 88%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .icon-location {
    right: 622px;
  }
}

@media (min-width: 375px) and (max-width: 812px) {
  $font__cursive: 20px/1.3 "Berkshire Swash", Verdana, cursive;
  $font__regular: 300 15px/1.3 Lato, Verdana, sans-serif;

  .font__cursive {
    font: $font__cursive;
    color: $font__cursive-color;
  }

  .font__regular {
    font: $font__regular;
  }
  .header__icon a {
    margin-bottom: 15px;
    margin-left: 10px;
    padding: 16px;
    font-size: 25px;
  }

  .header__icon {
    display: flex;
  }

  .header .container {
    display: flex;
    flex-direction: column;
  }

  .banner__content {
    max-width: 100%;
    padding: 10px 0 45px;
    text-align: center;
  }

  .journey .container {
    width: 85%;
  }

  .parallax .container {
    width: 100%;
  }

  .portfolio__slide a {
    display: none;
  }

  .font__main-h2 h2 {
    font-size: 20px;
  }

  .find-me .container {
    width: 100%;
  }

  .find-me__icon i {
    font-size: 40px;
  }

  .icon-location {
    right: 293px;
  }

  .form button {
    font-size: 15px;
  }
}

@media (min-width: 375px) and (max-width: 812px) and (orientation: landscape) {
  .icon-location {
    right: 515px;
  }
}

@media (min-width: 375px) and (max-width: 812px) {
  .icon-location {
    right: 314px;
  }
}

@media (min-width: 375px) and (max-width: 812px) and (orientation: landscape) {
  .icon-location {
    right: 477px;
  }
}

@media (min-width: 375px) and (max-width: 667px) {
  .icon-location {
    right: 298px;
  }
}

@media (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
  .icon-location {
    right: 445px;
  }
}

@media (min-width: 320px) and (max-width: 568px) {
  $font__cursive: 15px/1.3 "Berkshire Swash", Verdana, cursive;
  $font__regular: 300 10px/1.3 Lato, Verdana, sans-serif;

  .font__cursive {
    font: $font__cursive;
    color: $font__cursive-color;
  }

  .font__regular {
    font: $font__regular;
  }
  .header__icon a {
    margin-bottom: 15px;
    margin-left: 10px;
    padding: 16px;
    font-size: 25px;
  }

  .header__icon {
    display: flex;
  }

  .header .container {
    display: flex;
    flex-direction: column;
  }

  .banner__content {
    max-width: 100%;
    padding: 10px 0 45px;
    text-align: center;
  }

  .journey .container {
    width: 85%;
  }

  .parallax .container {
    width: 100%;
  }

  .portfolio__slide a {
    display: none;
  }

  .font__main-h2 h2 {
    font-size: 20px;
  }

  .find-me .container {
    width: 100%;
  }
  .find-me__icon {
    padding: 20px 0 60px;
  }

  .find-me__icon i {
    font-size: 30px;
  }

  .form button {
    font-size: 15px;
  }

  .icon-location {
    right: 271px;
  }
}

@media (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
  .icon-location {
    right: 397px;
  }
}

@media (min-width: 411px) and (max-width: 823px) {
  .icon-location {
    right: 313px;
  }
}

@media (min-width: 411px) and (max-width: 823px) and (orientation: landscape) {
  .icon-location {
    right: 523px;
  }
}

@media (min-width: 731px) and (max-width: 411px) {
  .icon-location {
    right: 474px;
  }
}

@media (min-width: 731px) and (max-width: 411px) and (orientation: landscape) {
  .icon-location {
    right: 479px;
  }
}

@media (min-width: 360px) and (max-width: 640px) {
  .icon-location {
    right: 286px;
  }
}

@media (min-width: 360px) and (max-width: 640px) and (orientation: landscape) {
  .icon-location {
    right: 430px;
  }
}
